body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
}

h1{
    font-size: 50px;
}

.orange_color{
    color: orange;
}

section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}

.link-button{
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;

}

.top-banner{

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.h1-exp{text-align: center;}
.exp-felx{
    display: flex;
}
.expereinces-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 200px;
}
.expereinces-item{
    width: 50%;
    margin: 100px 70px;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.431);
    border-left: 10px solid ;
    border-image: linear-gradient( lightsalmon, tomato);
    border-image-slice: 1 ;
  
}

.footer{
    text-align: center;
    color:rgb(66, 66, 66);
}